{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title"> {{title}} </h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Kartu Statistik  -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Kolom -->
        
        <div class="col-6 col-lg-3">
            <div class="bg-success p-10 text-white text-center">
                <h3 class="font-light text-white"><i class="fa fa-user"></i></h3>
                <h5 class="mb-0 mt-1">{{total}}</h5>
                <small class="font-light">Total Pengguna</small>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="bg-cyan p-10 text-white text-center">
                <h3 class="font-light text-white"><i class="fa fa-sitemap"></i></h3>
                <h5 class="mb-0 mt-1">{{total_kategori}}</h5>
                <small class="font-light">Total Kategori</small>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="bg-warning p-10 text-white text-center">
                <h3 class="font-light text-white"><i class="fa fa-newspaper"></i></h3>
                <h5 class="mb-0 mt-1">{{total_artikel}}</h5>
                <small class="font-light">Total Artikel</small>
            </div>
        </div>
        <!-- Kolom -->
    </div><br>
    <!-- ============================================================== -->
    <!-- Grafik Kinerja -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistik Berita</h5>
                    <p>Selamat datang di dashboard admin, pusat kendali untuk semua konten berita di situs web kami. Dashboard ini dirancang khusus untuk memberikan Anda kontrol penuh atas setiap aspek dari publikasi berita, mulai dari penulisan dan pengeditan hingga analisis statistik dan interaksi dengan pembaca. Kami memahami betapa pentingnya peran Anda dalam menjaga kualitas dan relevansi informasi yang disajikan, oleh karena itu kami menyediakan berbagai alat dan fitur yang dapat membantu Anda menjalankan tugas dengan lebih efektif dan efisien.</p>
                    <p>Di sini, Anda dapat dengan mudah mengelola berita, melihat statistik pengunjung, dan berinteraksi dengan pembaca melalui komentar dan pesan. Fitur-fitur kami dirancang agar intuitif dan mudah digunakan, sehingga Anda dapat fokus pada hal yang paling penting: menyajikan berita yang akurat dan menarik bagi pembaca. Mari kita jelajahi berbagai fitur yang tersedia untuk Anda dengan lebih mendalam:</p>
                    <h5 class="card-title">Manajemen Konten</h5><br>
                    <h6 class="card-title">Tambah Berita Baru</h6>
                    <p>Untuk menambah berita baru, klik tombol "Tambah Berita Baru" di menu utama. Isi semua detail yang diperlukan, termasuk judul, konten, kategori, dan gambar. Pastikan berita telah melalui proses editing dan proofreading sebelum diterbitkan.</p><br>

                    <h6 class="card-title">Edit Berita</h6>
                    <p>Di sini, Anda dapat mengedit berita yang sudah ada. Pilih berita yang ingin Anda ubah dari daftar, lakukan penyesuaian yang diperlukan, dan simpan perubahan.</p><br>

                    <h6 class="card-title">Hapus Berita</h6>
                    <p>Jika ada berita yang perlu dihapus, Anda dapat melakukannya dari bagian ini. Pilih berita yang ingin dihapus dan konfirmasi tindakan Anda.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Komentar Terbaru dan Obrolan -->
    <!-- ============================================================== -->
</div>

{% endblock content %}
