{% load static %}
{% load auth_extras %}
<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav" class="pt-4">
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href=" {% url "dashboard" %} " aria-expanded="false">
                    <i class="mdi mdi-view-dashboard"></i>
                    <span class="hide-menu">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'home' %}" aria-expanded="false">
                    <i class="mdi mdi-home"></i>
                    <span class="hide-menu">Home</span>
                </a>
            </li>            
            {% if user|has_group:'Operator' %}
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url "kategori_list" %}" aria-expanded="false">
                    <i class="fas fa-sitemap"></i>
                    <span class="hide-menu">Kategori</span>
                </a>
            </li>
            {% endif %}
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url "artikel_list" %}" aria-expanded="false">
                    <i class="fas fa-newspaper"></i>
                    <span class="hide-menu">Artikel</span>
                </a>
            </li>
            {% if user|has_group:'Operator' %}
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url "pengguna_list" %}" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    <span class="hide-menu">Pengguna</span>
                </a>
            </li>
            {% endif %}
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url "akun_logout" %}" aria-expanded="false">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="hide-menu">Keluar</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>

{% block js %}

<script>
    $(document).ready(function() {
        $('#sidebarnav .sidebar-item a').on('click', function() {
            $('#sidebarnav .sidebar-item a').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>


{% endblock js %}