{% extends "halaman/base.html" %}

{% load static %}

{% block content %}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2><i class="fa fa-envelope-o"></i> Hubungi Kami</h2>
            </div><!-- end col -->                  
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Tentang Kami</h4>
                            <p>Kami adalah portal berita terkemuka yang menyediakan berita terbaru, artikel mendalam, dan analisis menyeluruh tentang berbagai topik termasuk politik, ekonomi, teknologi, budaya, dan hiburan. Tim kami terdiri dari jurnalis berpengalaman yang berdedikasi untuk memberikan informasi yang akurat dan terpercaya kepada pembaca kami.</p>
                        </div>

                        <div class="col-lg-6">
                            <h4>Bagaimana Kami Bisa Membantu Anda?</h4>
                            <p>Apakah Anda memiliki pertanyaan, saran, atau umpan balik tentang konten kami? Atau mungkin Anda ingin berkolaborasi dengan kami dalam bentuk kemitraan atau iklan? Jangan ragu untuk menghubungi kami. Kami selalu terbuka untuk mendengar dari Anda dan akan merespons secepat mungkin.</p>
                        </div>

                        <div class="col-lg-12">
                            <h4>Informasi Kontak</h4>
                            <p>Anda dapat menghubungi kami melalui beberapa cara berikut:</p>
                            <ul>
                                <li>Email: <a href="mailto:info@portalberita.com">info@portalberita.com</a></li>
                                <li>Telepon: +62 123 456 789</li>
                                <li>Alamat: Jl. Ir. H. Juanda No.15, Sidodadi, Kec. Samarinda Ulu, Kota Samarinda, Kalimantan Timur 75124</li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-12">
                            <blockquote class="blockquote">Untuk informasi lebih lanjut mengenai lisensi dan ketentuan penggunaan, silakan baca <a href="#">Lisensi & Ketentuan Penggunaan</a> kami.</blockquote>
                        </div>
                    </div><!-- end row -->
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock content %}
