{% extends "halaman/base.html" %}

{% load static %}

{% block content %}

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="page-wrapper">
                    <div class="blog-title-area text-center">
                        <ol class="breadcrumb hidden-xs-down">
                            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url "home" %}#kesini">Blog</a></li>
                            <li class="breadcrumb-item active">{{artikel.judul}}</li>
                        </ol>

                        <span class="color-green">
                            <a href="/?kategori={{ artikel.kategori.nama }}#kesini" title="">{{ artikel.kategori.nama }}</a>
                        </span>
                        

                        <h3>{{artikel.judul}}</h3>

                        <div class="blog-meta big-meta">
                            <small><a >{{artikel.created_at|date:"d-m-Y"}}</a></small>
                            <small><a href="{% url "about" %}" title="">{{artikel.author}}</a></small>
                        </div><!-- end meta -->
                    </div><!-- end title -->

                    <div class="single-post-media">
                        {% if artikel.thumbnail %}
                            <img src="{{artikel.thumbnail.url}}" alt="" class="img-fluid">
                        {% else %}
                            <img src="{% static 'halaman/images/eror.jpeg' %}" alt="" class="img-fluid">
                        {% endif %}
                    </div><!-- end media -->

                    <div class="blog-content">  
                        <div class="pp">
                            <p>{{artikel.isi|safe}}</p>
                        </div><!-- end pp -->
                    </div><!-- end content -->

                    <hr class="invis1">

                    <div class="custombox authorbox clearfix">
                        <h4 class="small-title">About author</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="{% static 'halaman/images/orang1.jpeg' %}" alt="" class="img-fluid rounded-circle"> 
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="{% url "about" %}">{{artikel.author}}</a></h4>

                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end author-box -->

                    <hr class="invis1">

                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock content %}