{% load static %}

<footer class="footer bg-dark text-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Tentang Kami</h5>
                <p>Website berita terbaru yang menyajikan informasi terkini dan terpercaya dari seluruh dunia. Kami berkomitmen untuk memberikan berita yang akurat dan informatif.</p>
            </div>
            <div class="col-md-4">
                <h5>Navigasi</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url "home" %}" class="text-light">Beranda</a></li>
                    <li><a href="{% url "about" %}" class="text-light">Tentang Kami</a></li>
                    <li><a href="contact" class="text-light">Kontak</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h5>Ikuti Kami</h5>
                <a href="https://www.facebook.com/" style="margin-right: 5px;"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/" style="margin-right: 5px;"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/" style="margin-right: 5px;"><i class="fa fa-instagram"></i></a>
            </div>
        </div><!-- end row -->

        <hr class="bg-light my-4">

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2024 Cloapedia. Desain oleh <a href="http://html.design" class="text-light">HTML Design</a>.</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
